body {
  height: 100%;
  background-color: #efefef;
  font-family: Verdana, Geneva, sans-serif;
}

header h1 {
 text-align: center; 
}

nav ul {
  list-style-type: none;
  display: block;
  padding: 10px;
  background-color: black;
}

nav ul li {
  display: inline;
  padding: 10px 10px;
}

li a {
 color: white;
 text-decoration: none;
}

nav ul li:hover {
  background-color: #333; 
}

table {
  margin-top: 20px;
  border: 3px solid white;
  background-color: #eee;
}

a:hover { 
    color: orange;
}

.contact {
  width: 25%;
  margin: auto;
}
.center {
  display: block;
  margin: auto;
  text-align: center;
}

#contact {
  background-color: #b931a2;
  height: 100%;
}

#homefooter, #mailto, #portfoliofooter {
    position: absolute;
    margin: 0 auto;
}

#mailto, #portfoliofooter {
    bottom: 0; 
}

#mailto {
  background-color: white;
  border: 2px dashed #111;
}